:root{
    --very-light-pink:#c7c7c7;
    --white:#FFFFFF;
    --text-input-field:#F7F7F7;
    --black:#000000;
    --hospital-green :#ACD9B2;
    --dark:#232830;
    --sm:1.4rem;
    --md:1.6rem;
    --lg:1.8rem;
    --card-size-mobile:16rem;
    --card-size-desktop:24rem;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
   font-size: 62.5%;
}
body{
    font-family: 'Quicksand', sans-serif;
    /*background-color:lightyellow;*/
}

.navbar{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    height: 6rem;
    border-bottom: .1rem solid var(--very-light-pink);          
}
.nav-left ul,.nav-right ul{
    list-style: none;
    padding: 0;
   
    display: flex;
    align-items: center;
}
.nav-left ul{
    margin-left: 1.2rem;
}

.nav-left ul li a,.nav-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    font-size: var(--sm);
    border: .1rem solid var(--white);
    padding: 1.2rem;
    border-radius: .8rem;
}
.nav-left ul li a:hover,.nav-right ul li a:hover{
    color: var(--hospital-green);
    border: .1rem solid var(--hospital-green);
}
.nav-left{
    display: flex;
}
.figure-logo{
    display: none;
}
.logo{
    width: 5rem;
}
.icon-car{
    width: 5rem;
}
.nav-right ul li:first-child{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 1.5rem;
}
/****************************MENU-DESKTOP*************************************************/
.inactive{
    display: none;
}

.menu-desktop{
    position: absolute;
    top: 5.9rem;
    right: 7rem;
    background-color: var(--white);

    width: 10rem;
    height: auto;
    border: .1rem solid var(--very-light-pink);
    border-radius: .6rem;
    text-align: end;
    padding: .5rem;
}
.menu-desktop ul li{
    list-style: none;
    font-size: var(--sm);
}
.menu-desktop ul li:nth-child(1),
.menu-desktop ul li:nth-child(2){
    font-weight: bold;
}
.menu-desktop ul li:last-child{
    padding-top:2rem ;
    border-top: .1rem solid var(--very-light-pink);
}
.menu-desktop ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.menu-desktop ul li a{
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    margin-bottom:1.5rem ;
}
.navbar-Email{
    cursor: pointer;
}

/****************************************************************************************/










@media (max-width:640px){
    .figure-logo{
        display: block;
        width: 4rem;
    }
    .icon-bar{
        width: 100%;
    }
    .nav-left ul{
        display: none;
    }
    .nav-right ul li:first-child{
        display: none;
    }
 
}
